* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Open Sans', sans-serif;
}

input,
button {
    font-size: 16px;
}

header {
    padding: 12px;
    display: flex;
    justify-content: center;
    background-color: coral;
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

section {
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 16px;
}

section > h2 {
    text-align: center;
    color: coral;
    margin-bottom: 16px;
}

form > div {
    margin-bottom: 16px;
}

form > div > label {
    color: coral;
    font-weight: bold;
    margin-bottom: 5px;
}

form > div > input:not([type="checkbox"]) {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
}


form > button {
    background-color: coral;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 16px;
}

form > button:hover {
    background-color: darkorange;
}

#incompleteBookshelfList,
#completeBookshelfList {
    padding: 16px;
}

[data-testid="bookItem"] {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

[data-testid="bookItem"] > h3,
[data-testid="bookItem"] > p {
    margin: 8px 0;
}

[data-testid="bookItem"] > div > button {
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

[data-testid="bookItemIsCompleteButton"] {
    background-color: darkgreen;
    color: white;
}

[data-testid="bookItemIsCompleteButton"]:hover {
    background-color: green;
    transform: scale(1.05);
}

[data-testid="bookItemDeleteButton"] {
    background-color: darkred;
    color: white;
}

[data-testid="bookItemDeleteButton"]:hover {
    background-color: red;
    transform: scale(1.05);
}

[data-testid="bookItemEditButton"] {
    background-color: #f4d03f;
    color: black;
}

[data-testid="bookItemEditButton"]:hover {
    background-color: #f7e07b;
    transform: scale(1.05);
}

#searchBook label {
    color: coral;
    font-weight: bold;
    margin-right: 10px;
}

#searchBook input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
}
